@media only screen and (min-device-width: 820px) {

/* LARGE */
	.hide-lg {
		display: none !important;
	}

	.container {
		width: 93.75%;
		max-width: 1003px;
	}
	.hero {
		.img-container {
			width: 80%;
			height: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

	.vesper-logo-tag {
		filter: drop-shadow(3px 3px 2px lighten($black, 20));
	}

	footer {
		margin-top: 8em;
	}

	.supporting-page__content {
		padding-top: 8em;
		padding-bottom: 8em;
		.portrait {
			width: 25%;
			display: inline-block;
			float: left;

			img {
				border-radius: 50%;
				width: 100%;
				height: auto;
			}
		}
		.text {
			width: 70%;
			margin-left: 5%;
			display: inline-block;
			float: left;
			h2 {
				text-align: left;
			}
		}
	}
}