/* browser-sync start --server --files "*.html, css/*.css" */
/* sass --watch main.scss:main.css */
/* CMYK 10 10 0 90 */
/* CMYK 0 0 15 82 */
* {
  box-sizing: border-box; }

#privacy {
  display: none;
  position: fixed;
  width: 100vw;
  height: 20vh;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #d3d3d3; }
  #privacy .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  #privacy a:hover {
    border-bottom: 1px solid #ef32d9;
    font-weight: 400; }

button {
  background: #ef32d9;
  color: white;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 0;
  font-size: 1em; }
  button:hover {
    background: #89fffd;
    color: #2E2E27;
    cursor: pointer; }

body,
html {
  font-size: 16px;
  height: 100%; }

.hide {
  display: none; }

.container {
  max-width: 1140px;
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2em;
  letter-spacing: .2em;
  line-height: 1.5em;
  color: #2E2E27; }
  h1 span,
  h2 span,
  h3 span {
    font-weight: 100; }

.center {
  text-align: center; }

a {
  color: #2E2E27;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #89fffd; }

li a {
  /* menu items */
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: .15em;
  font-size: 1.2em;
  color: #2E2E27; }
  li a span {
    /*font-weight: 400;
    font-variant: small-caps;*/ }

p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

strong {
  color: #89fffd;
  font-weight: 700; }

section ul {
  padding-top: 1em; }
  section ul li {
    position: relative;
    font-family: "Raleway", sans-serif;
    list-style-type: none;
    padding-bottom: 1em;
    padding-left: 1em;
    color: #2E2E27; }
    section ul li::before {
      content: '\002B';
      /* '+' symbol */
      position: absolute;
      left: .1rem;
      top: -.2em;
      color: #ef32d9;
      font-weight: 700;
      font-size: 1.5em; }

.block-bullets ul > li:hover {
  color: white; }

section ul.aqua li::before {
  color: #89fffd; }

.hero {
  width: 100%;
  position: relative; }
  .hero .img-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }
    .hero .img-container img {
      width: 100%;
      height: auto; }

video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
  filter: grayscale(100%) opacity(0.8); }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  min-height: 80vh;
  padding: 2em 0; }
  .content .text-container {
    width: 60%;
    margin: auto; }

footer {
  position: relative;
  background: #2E2E27;
  height: 100%;
  min-height: 400px;
  color: #d3d3d3;
  margin-top: 4em;
  padding: 8em 0;
  text-align: center; }
  footer a {
    font-size: 1.25em;
    color: #d3d3d3;
    display: inline-block;
    border-bottom: none; }
  footer a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .3s ease, background-color .3s ease; }
  footer a:hover:after {
    width: 100%;
    background: #ef32d9; }
  footer h1 {
    color: #d3d3d3;
    padding: .5em 0; }
  footer p {
    font-size: .75em; }
  footer .footer-col {
    position: relative;
    display: inline-block;
    float: left;
    min-height: 1px;
    /*gives spacing to empty footer-col*/
    width: 100%; }
  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background: linear-gradient(to right, #89fffd, #ef32d9);
    background-size: 200% 200%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; }
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  footer .footer-logo {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 4em;
    width: 40px;
    height: auto;
    transform: translateX(-50%); }
    footer .footer-logo img {
      width: 100%;
      height: auto; }

.supporting-page {
  position: relative;
  height: 50vh;
  margin: 0; }
  .supporting-page .supporting-page__half--top {
    position: absolute;
    display: flex;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    align-items: center;
    justify-content: center; }
  .supporting-page h1 {
    text-align: center;
    /*font-size: 4em;*/
    filter: drop-shadow(3px 3px 2px #9a9a87); }
  .supporting-page .circle {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translate(-50%, 50%); }
    .supporting-page .circle img {
      width: 100%;
      height: auto; }

.clients {
  background: #d3d3d3 !important; }
  .clients h1,
  .clients h2 {
    color: #2E2E27 !important;
    padding: 1em 0; }

.supporting-page__content {
  position: relative;
  overflow: auto;
  background: #2E2E27;
  color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2em 0; }
  .supporting-page__content a {
    color: white; }
    .supporting-page__content a:hover {
      border-bottom: 1px solid #ef32d9;
      font-weight: 400; }
  .supporting-page__content .text-container {
    width: 60%;
    margin: auto; }
  .supporting-page__content h3 {
    padding: 1.5em 0 .75em;
    font-size: 1em;
    font-weight: 700; }
  .supporting-page__content .block-bullets {
    margin-top: 1.5em; }
  .supporting-page__content h2,
  .supporting-page__content h3,
  .supporting-page__content p,
  .supporting-page__content li {
    color: #d3d3d3; }
  .supporting-page__content h2 {
    text-align: center; }
  .supporting-page__content .portrait {
    width: 100%; }
    .supporting-page__content .portrait img {
      border-radius: 50%;
      width: 100%;
      height: auto;
      filter: grayscale(100%) !important; }
  .supporting-page__content .row {
    clear: both;
    display: inline-flex;
    width: 100%;
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: center; }
    .supporting-page__content .row .row--item__logo {
      width: 25%;
      padding: 2em;
      align-items: center;
      justify-content: center; }
      .supporting-page__content .row .row--item__logo a {
        border-bottom: none; }
        .supporting-page__content .row .row--item__logo a:hover {
          border-bottom: none; }
        .supporting-page__content .row .row--item__logo a img {
          display: block;
          width: 100%;
          margin: auto;
          height: auto;
          filter: grayscale(100%); }
          .supporting-page__content .row .row--item__logo a img:hover {
            filter: grayscale(0%); }

/* Icon 3 */
.icon-three {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 6.25em;
  height: 5.5em;
  cursor: pointer; }

.hamburger {
  top: 50%;
  left: 25%;
  width: 3em;
  height: .25em;
  background: #ef32d9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.4);
  transition: 0.5s; }

.hamburger:before {
  top: -1em; }

.hamburger:after {
  top: 1em; }

.hamburger-three:before,
.hamburger-three:after {
  content: '';
  position: absolute;
  width: 3em;
  height: .25em;
  background: #ef32d9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89fffd, #ef32d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.4);
  transition: 0.5s; }

.icon-three.active-three .hamburger-three {
  background: transparent;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0); }

.icon-three.active-three .hamburger-three:before {
  top: 0;
  transform: rotate(135deg); }

.icon-three.active-three .hamburger-three:after {
  top: 0;
  transform: rotate(225deg);
  box-shadow: 0 -0.125em 0.3125em rgba(0, 0, 0, 0.4); }

.hide.body-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #2E2E27;
  background: #89fffd; }
  .hide.body-menu ul {
    list-style-type: none;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%; }
    .hide.body-menu ul li {
      margin: .5em 0;
      font-size: 2em;
      text-align: center;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%; }
      .hide.body-menu ul li:hover {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
        /*        -webkit-transform: translateX(8px);
                transform: translateX(8px);*/ }
      .hide.body-menu ul li a {
        display: inline-block;
        border-bottom: none; }
      .hide.body-menu ul li a:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: transparent;
        transition: width .3s ease, background-color .3s ease; }
      .hide.body-menu ul li a:hover:after {
        width: 100%;
        background: #ef32d9; }

@media only screen and (max-device-width: 569px) {
  .icon-three {
    font-size: .65em; }

  #privacy {
    font-size: .75em; }

  .hide-sm {
    display: none !important; }

  h1 {
    font-weight: 100; }

  .container {
    width: 93.75%;
    max-width: 300px; }

  .hero {
    /* Shows as .supporting-page */
    position: relative;
    background: white;
    height: 50vh; }

  .content {
    background: #2E2E27;
    color: #d3d3d3; }
    .content h1,
    .content h2,
    .content h3,
    .content li {
      color: #d3d3d3; }
    .content .text-container {
      width: 90%;
      padding: 2em 0; }

  footer {
    height: 100%; }
    footer .footer-col {
      display: inline-block;
      float: left;
      width: 100%;
      text-align: center; }

  .supporting-page .circle {
    width: 50px;
    height: 50px; }

  .supporting-page__content {
    padding: 6em 0; }
    .supporting-page__content .text-container {
      width: 90%;
      padding: 2em 0; }
    .supporting-page__content .row {
      width: 100%; }
      .supporting-page__content .row .row--item__logo {
        display: inline-block !important;
        float: left;
        width: 50%; }
        .supporting-page__content .row .row--item__logo a {
          display: inline-block !important;
          float: left !important; }
          .supporting-page__content .row .row--item__logo a img {
            display: inline-block !important;
            width: 100% !important;
            height: auto; } }
@media only screen and (min-device-width: 570px) and (max-device-width: 694px) {
  /* ####    INBETWEEN     #### */
  .icon-three {
    font-size: .75em; }

  #privacy {
    font-size: .75em; }

  .hide-sm {
    display: none !important; }

  h1 {
    font-weight: 200; }

  .hero {
    /* Shows as .supporting-page */
    position: relative;
    background: white;
    height: 50vh; }

  .content {
    background: #2E2E27;
    color: #d3d3d3; }
    .content h1,
    .content h2,
    .content h3,
    .content li {
      color: #d3d3d3; }
    .content .text-container {
      width: 90%;
      padding: 2em 0; }

  .container {
    width: 93.75%;
    max-width: 534px; }

  footer {
    height: 100%; }
    footer .footer-col {
      display: inline-block;
      float: left;
      width: 100%;
      text-align: center; }

  footer {
    margin-top: 8em; }

  /* About */
  .supporting-page .circle {
    width: 50px;
    height: 50px; }

  .supporting-page-content {
    padding: 4em 0; }
    .supporting-page-content .row .row--item__logo {
      float: left;
      width: 50%; } }
@media only screen and (min-device-width: 695px) and (max-device-width: 819px) {
  /* ####    MEDIUM     #### */
  .icon-three {
    font-size: 1em; }

  #privacy {
    font-size: .75em; }

  .hide-sm {
    display: none !important; }

  h1 {
    font-weight: 200; }

  .hero {
    /* Shows as .supporting-page */
    position: relative;
    background: white;
    height: 50vh; }

  .content {
    background: #2E2E27;
    color: #d3d3d3; }
    .content h1,
    .content h2,
    .content h3,
    .content li {
      color: #d3d3d3; }

  .container {
    width: 93.75%;
    max-width: 768px; }

  footer {
    height: 100%;
    margin-top: 8em; }
    footer .footer-col {
      display: inline-block;
      float: left;
      width: 100%;
      text-align: center; }

  /* About */
  .supporting-page .circle {
    width: 75px;
    height: 75px; }

  .supporting-page-content {
    padding: 4em 0; }
    .supporting-page-content .row .row--item__logo {
      float: left;
      width: 50%; }

  footer {
    margin-top: 8em; } }
@media only screen and (min-device-width: 820px) {
  /* LARGE */
  .hide-lg {
    display: none !important; }

  .container {
    width: 93.75%;
    max-width: 1003px; }

  .hero .img-container {
    width: 80%;
    height: 100%; }
    .hero .img-container img {
      width: 100%;
      height: auto; }

  .parallax {
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

  .vesper-logo-tag {
    filter: drop-shadow(3px 3px 2px #656556); }

  footer {
    margin-top: 8em; }

  .supporting-page__content {
    padding-top: 8em;
    padding-bottom: 8em; }
    .supporting-page__content .portrait {
      width: 25%;
      display: inline-block;
      float: left;
      margin-top: .5em; }
      .supporting-page__content .portrait img {
        border-radius: 50%;
        width: 100%;
        height: auto; }
    .supporting-page__content .text {
      width: 70%;
      margin-left: 5%;
      display: inline-block;
      float: left; }
      .supporting-page__content .text h2 {
        text-align: left; } }
@media only screen and (min-device-width: 1070px) {
  .container {
    max-width: 1237px;
    margin-right: auto;
    margin-left: auto; } }

/*# sourceMappingURL=main.css.map */
