@media only screen and (min-device-width : 570px) and (max-device-width : 694px) {

/* ####    INBETWEEN     #### */
	.icon-three {
		font-size: .75em;
	}

	.hide-sm {
		display: none !important;
	}

	h1 {
		font-weight: 200;
	}
	.hero {
		/* Shows as .supporting-page */
		position: relative;
		background: $white;
		height: 50vh;

	}
	.content {
		background: $black;
		color: $lightgrey;
		h1,
		h2,
		h3,
		li {
			color: $lightgrey;
		}
		.text-container {
			width: 90%;
			padding: 2em 0;
		}
	}
	.container {
		width: 93.75%;
		max-width: 534px;
	}

	footer {
  	height: 100%;
	  .footer-col {
			display: inline-block;
			float: left;
			width: 100%;

			text-align: center;
		}
	}

	footer {
		margin-top: 8em;
	}

	/* About */
	.supporting-page {
		.circle {
			width: 50px;
			height: 50px;
		}
	}
	.supporting-page-content {
		padding: 4em 0;
		.row {
			.row--item__logo {
				float: left;
				width: 50%;
			}
		}
	}
}

@media only screen and (min-device-width : 695px) and (max-device-width : 819px)  {

/* ####    MEDIUM     #### */
	.icon-three {
		font-size: 1em;
	}

	.hide-sm {
		display: none !important;
	}

	h1 {
		font-weight: 200;
	}
	.hero {
		/* Shows as .supporting-page */
		position: relative;
		background: $white;
		height: 50vh;

	}
	.content {
		background: $black;
		color: $lightgrey;
		h1,
		h2,
		h3,
		li {
			color: $lightgrey;
		}
	}
	.container {
		width: 93.75%;
		max-width: 768px;
	}

	footer {
  	height: 100%;
  	margin-top: 8em;
	  .footer-col {
			display: inline-block;
			float: left;
			width: 100%;

			text-align: center;
		}
	}

	/* About */
	.supporting-page {
		.circle {
			width: 75px;
			height: 75px;
		}
	}
	.supporting-page-content {
		padding: 4em 0;
	}
	footer {
		margin-top: 8em;
	}
}